body {
  background-color: var(--main-bg-color);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

#all {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
  grid-template-rows: max-content 1fr;
}

#infocontainer {
  margin: 20px;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 450px) 1fr;
}

#info {
  grid-column: 2;
}

#titlecontainer {
  margin-bottom: 50px;
}

#titleflex {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#title {
  font-size: x-large;
  font-weight: normal;
}

#about {
  padding-bottom: 0.1em;
}

.bolded {
  font-weight: bold;
}

#about:hover {
  cursor: pointer;
  font-weight: bold;
}

#divider {
  border-style: solid;
  border-color: var(--text);
  border-width: 1.5px 0px 0px 0px;
}

#infotext {
  margin-bottom: 40px;
}

#controls {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 40px;
}

.inputcontainer {
  width: 100%;
  position: relative;
}

.clearinput {
  position: absolute;
  top: 0.3em;
  right: 6px;
}

.clearinput:hover {
  cursor: pointer;
}

.mediainput {
  margin-top: 5px;
  width: 100%;
  background-color: var(--white);
  color: var(--text);
  opacity: 1;
  border: 1px solid var(--text);
  border-radius: 4px;
  padding: 0px 20px 0px 5px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mediainput::placeholder {
  font-style: italic;
}

.mediainput:disabled {
  font-style: italic;
  background-color: var(--white);
  color: var(--text);
  opacity: 1;
  border: 1px solid var(--text);
  border-radius: 4px;
}

.mediaoptions {
  width: 100%;
  background-color: var(--white);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 4px;
}

.mediaoptions ul {
  list-style-type: none;
  padding: 0px;
}

.mediaoptions li {
  cursor: pointer;
  line-height: 1;
  padding: 0.25em 5px;
  transition: background-color 0.1s ease;
}

.mediaoptions li:hover {
  background-color: var(--emph-color);
  transition: background-color 0.1s ease;
}

.mediaoptions p {
  padding: 0px 5px;
}

#submit {
  color: var(--text);
  background-color: var(--emph-color);
  margin-top: 10px;
  width: max-content;
  border: 1px solid var(--text);
  border-radius: 1em;
}

#submit:hover {
  cursor: pointer;
}

#submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#tropescontainer {
  margin: 20px;
  margin-bottom: 80px;
  grid-column: 2;
}

#tropestitle {
  font-weight: normal;
  font-style: italic;
  font-size: xx-large;
  margin-bottom: 0.5em;
  line-height: 1.15;
}

#tropes {
  column-width: 200px;
  column-rule: 2px solid var(--emph-color);
  break-inside: avoid;
}

#tropes p {
  line-height: 1;
  margin-bottom: 0.5em;
}

#tropes a {
  text-decoration: underline 1px;
}

a {
  transition: background-color 0.1s ease;
}

a:hover {
  background-color: var(--emph-color);
  transition: background-color 0.1s ease;
}

:root {
  --main-bg-color: #f4f4ff;
  --emph-color: #ffccff;
  --text: #151551;
  --white: white;
  color: var(--text);
}
